   <div class="name">
     <%= f.label :name %>
     <%= f.text_field :name %>
   </div>
   <div class="imageurl">
     <%= f.label :imageurl %>
     <%= f.text_field :imageurl %>
   </div>
   <div class="description">
     <%= f.label :description %>
     <%= f.text_field :description %>
   </div>
   <div class="actions">
    <%= hidden_field_tag(:user_id, current_user.id) %>
     <%= f.submit %>
   </div>
