<div style="width: 400px; height: 350px; display: inline-block; margin: 50px">
	<img src= <%= @food.imageurl %> style="max-width: 100%; max-height: 100%" />
</div>

<div style="width:400px; height:350px; display: inline-block; margin: 50px; vertical-align:middle">
<h2><%= @food.name %></h2></center>

<p><%= @food.description %></p>

<li><%= link_to "Edit This Food", edit_food_path(@food.id) %></li>
<li><%= link_to "Delete This Food", food_path(:id => @food.id), method: :delete %></li>
<br />
<br />
<%= link_to "<< Back to Gallery", food_index_path() %>
</div>

<% @comments.each do |comment| %>
  <p><%= comment.content %>
  <br><%= link_to "Delete Comment", comment_delete_path(:id => comment.id, :food_id => @food.id) %></p>
<% end %>

<%= form_for :comment, :url => comment_create_path(:food_id => @food.id) do |f| %>
  Comment: <%= f.text_field :content %>
  <br><%= f.submit "Post Comment" %>
<% end %>
</div>
