<div style="width: 400px; display: inline-block; margin: 50px; vertical-align: top;">
	<img src= <%= @food.imageurl %> style="max-width: 100%; max-height: 100%" />
</div>

<div style="width: 600px; display: inline-block; margin:50px; vertical-align: middle;">

<h2><%= @food.name %></h2></center>
<% if @food.user_id %>
  <h5>by <%= link_to @food_user.name, user_path(@food_user.id) %></h5>
<% end %>

<p><%= @food.description %></p>

<div style="margin-left: 20px">
<% if user_signed_in? %>
  <% if current_user.id == @food.id %>
		<li><%= link_to "Edit This Food", edit_food_path(@food.id) %></li>
		<li><%= link_to "Delete This Food", food_path(:id => @food.id), method: :delete %></li>
		<% end %>
 <%end %>
</div>
<br />
<br />
<%= link_to "<< Back to Gallery", food_index_path() %>
</div>

<div style="margin: 50px">
  <h3>Comments</h3> <br /> 
<% @comments.each do |comment| %>
  <p><strong><%= link_to comment.user_name, user_path(comment.user_id) %></strong>
  <% if comment.updated_at == comment.created_at %>
    (<%= comment.created_at %>)
  <% else %>
    (updated <%= comment.updated_at %>)
  <% end %>
  : <%= comment.content %>
  <% if user_signed_in? %>
    <% if comment.user_id == current_user.id %>
	  <br><%= link_to "Edit", comment_change_path(:id => comment.id, :food_id => @food.id, :content => comment.content) %> | 
	  <%= link_to "Delete", comment_delete_path(:id => comment.id, :food_id => @food.id) %>
	<% elsif @food.user_id == current_user.id %>
	  <br><%= link_to "Delete", comment_delete_path(:id => comment.id, :food_id => @food.id) %>
	<% end %>
  <% end %>
  </p>
  <hr />
<% end %>

<% if user_signed_in? %>
  <%= form_for :comment, :url => comment_create_path(:user_id => current_user.id, :food_id => @food.id, :user_name => current_user.name) do |f| %>
    Comment: <%= f.text_field :content %>
    <%= f.submit "Post Comment" %>
  <% end %>
<% else %>
  <br><%= link_to 'Log In', new_user_session_path %></li>
  <br><%= link_to 'Join Food Blog', new_user_registration_path %></li>
<% end %>
</div>
