<h2><%= @food.name %></h2>
<img src= <%= @food.imageurl %> style="width: 50%; height: 50%" />
<p><%= @food.description %></p>

<%= link_to "Edit Food", edit_food_path(@food.id) %>
<%= link_to "Delete Food", food_path(:id => @food.id), method: :delete %>
<%= link_to "Back", food_index_path() %>

<% @comments.each do |comment| %>
  <p><%= comment.description %></p>
<% end %>

<%= form_for :comment, comment_create_path(:food_id => @food.id) do |f| %>
  Content: <%= f.text_field :content %><br />
  <%= f.submit %>
<% end %>
