<div style="margin:50px">
<h3><% if @user.name %>
	<%= @user.name %>
	<% else %>
	User
	<%end %>
</h3> 
<p><%= @user.email if @user.email %></p>
</div>

<div class="masonry">
  <% @foods.each do |food| %>
    <div class="item">
      <% @url = food[:imageurl] %>
      <center><a href=<%= food_path(food[:id]) %>>
        <img src=<%= @url %> />
      </a>
    <a href=<%= food_path(food[:id]) %>>
      <h5 style="color: #008cba"><%= food[:name] %></h5>
    </a>
    <p><%= food[:description] %></p>
  </center>
</div>
<% end %>
</div>

