<div style="margin: 50px">
    <div class="masonry">
  <% @foods.each do |food| %>
    <div class="item">
      <% @url = food[:imageurl] %>
      <center><a href=<%= food_path(food[:id]) %>>
        <img src=<%= @url %> />
      </a>
      <a href=<%= food_path(food[:id]) %>>
      <h5 style="padding: 10px 10px 10px 0px; color: #008cba"><%= food[:name] %></h5>
    </a>
    <p style="padding: 0px 10px 0px 10px"><%= food[:description] %></p>
  </center>
</div>
<% end %>
</div>
</div>
