<center><h1 style="margin-top: 30px;">Welcome to Foodie!</h1></center>

<% @foods.each do |food| %>
	<div style="display: inline-block; max-width:100%; max-height:100%; padding: 10px">
	<% @url = food[:imageurl] %>
	<a href=<%= food_path(food[:id]) %>>
		<img src=<%= @url %> width="240px" height="200px"/>
	</a>
	<center>
		<a href=<%= food_path(food[:id]) %>>
		<h5 style="color: #008cba"><%= food[:name] %></h5>
		</a>
		<p><%= food[:description] %></p>
		</center>
	</div>
<% end %>
