<% if user_signed_in? %>
  <li><%= link_to 'Add a Food', new_food_path %></li>
  <li><%= link_to 'My Profile', user_path(current_user) %></li>
  <li><%= link_to 'Edit Account', edit_user_registration_path %></li>
  <li><%= link_to 'Log Out', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Log In', new_user_session_path %></li>
  <li><%= link_to 'Join Food Blog', new_user_registration_path %></li>
<% end %>
